:root {
  --component-button-padding-vertical-md: 0.75rem /* 12px */;
  --component-button-padding-vertical-sm: 0.5rem /* 8px */;
  --component-button-padding-vertical-lg: 0.75rem /* 12px */;
  --component-button-padding-horizontal-md: 1rem /* 16px */;
  --component-button-padding-horizontal-lg: 1.5rem /* 24px */;
  --component-button-padding-horizontal-sm: 1rem /* 16px */;
  --component-form-option-selector-size-outer-md: 1.5rem /* 24px */;
  --component-form-option-selector-size-outer-sm: 1rem /* 16px */;
  --component-form-option-selector-size-inner-md: 1rem /* 16px */;
  --component-form-option-selector-size-inner-sm: 0.5rem /* 8px */;
  --component-form-option-selector-padding-left-md: 2.5rem /* 40px */;
  --component-form-option-selector-padding-left-sm: 2rem /* 32px */;
  --component-form-input-padding-horizontal: 1rem /* 16px */;
  --component-form-input-padding-vertical: 0.5rem /* 8px */;
  --component-form-label-padding-top-md: -0.125rem /* -2px */;
  --component-form-label-padding-top-sm: -0.25rem /* -4px */;
  --component-form-label-margin-bottom: 0.25rem /* 4px */;
  --component-form-select-padding-vertical: 0.5rem /* 8px */;
  --component-form-select-padding-horizontal: 1rem /* 16px */;
  --component-tabs-panel-padding-horizontal-sm: 1rem /* 16px */;
  --component-tabs-panel-padding-horizontal-md: 1.5rem /* 24px */;
  --component-tabs-panel-padding-horizontal-lg: 2rem /* 32px */;
  --component-tabs-panel-padding-top-sm: 1rem /* 16px */;
  --component-tabs-panel-padding-top-md: 1rem /* 16px */;
  --component-tabs-panel-padding-top-lg: 1rem /* 16px */;
  --component-tabs-panel-padding-bottom-sm: 1rem /* 16px */;
  --component-tabs-panel-padding-bottom-md: 1.5rem /* 24px */;
  --component-tabs-panel-padding-bottom-lg: 2rem /* 32px */;
  --component-tabs-gap-sm: 1rem /* 16px */;
  --component-tabs-gap-md: 1.5rem /* 24px */;
  --component-tabs-gap-lg: 1.5rem /* 24px */;
  --spacing-md: 1rem /* 16px */;
  --spacing-sm: 0.75rem /* 12px */;
  --spacing-xs: 0.5rem /* 8px */;
  --spacing-xxs: 0.25rem /* 4px */;
  --spacing-none: 0;
  --spacing-lg: 1.5rem /* 24px */;
  --spacing-xl: 2rem /* 32px */;
  --spacing-xxl: 2.5rem /* 40px */;
  --spacing-3xl: 3rem /* 48px */;
  --spacing-4xl: 3.5rem /* 56px */;
  --spacing-5xl: 4rem /* 64px */;
  --spacing-6xl: 4.5rem /* 72px */;
  --spacing-7xl: 5rem /* 80px */;
  --spacing-8xl: 5.5rem /* 88px */;
  --spacing-9xl: 6rem /* 96px */;
  --spacing-10xl: 6.5rem /* 104px */;
  --spacing-11xl: 7.5rem /* 120px */;
  --colors-text-primary: #444f55ff;
  --colors-text-secondary: #353e43ff;
  --colors-text-inverted: #ffffffff;
  --colors-text-tertiary: #697277ff;
  --colors-information-warning-primary: #e27500ff;
  --colors-information-warning-bg: #fff5e6ff;
  --colors-information-error-primary: #b63434ff;
  --colors-information-error-secondary: #e32129ff;
  --colors-information-error-bg: #fedfe1ff;
  --colors-information-info-primary: #065e7fff;
  --colors-information-info-secondary: #077197ff;
  --colors-information-info-bg: #e6f1f5ff;
  --colors-information-success-primary: #1d7721ff;
  --colors-information-success-secondary: #158925ff;
  --colors-information-success-bg: #e8f3e9ff;
  --colors-information-neutral-primary: #444f55ff;
  --colors-information-neutral-secondary: #353e43ff;
  --colors-borders-primary: #858d90ff;
  --colors-borders-secondary: #dadadaff;
  --colors-borders-tertiary: #ff9600ff;
  --colors-borders-quaternary: #444f55ff;
  --colors-borders-senary: #231f20ff;
  --colors-backgrounds-primary: #ffffffff;
  --colors-backgrounds-secondary: #f5f5f5ff;
  --colors-backgrounds-quaternary: #444f55ff;
  --colors-backgrounds-quinary: #353e43ff;
  --colors-backgrounds-senary: #231f20ff;
  --colors-backgrounds-tertiary: #ecececff;
  --colors-interaction-primary: #444f55ff;
  --colors-interaction-secondary: #231f20ff;
  --colors-interaction-tertiary: #ff9600ff;
  --colors-interaction-inverted: #ffffffff;
  --colors-icons-primary: #444f55ff;
  --colors-icons-inverted: #ffffffff;
  --colors-icons-secondary: #697277ff;
  --colors-transparent: #ffffff00;
  --colors-shadow-xlight: #0000001f;
  --colors-shadow-light: #00000029;
  --colors-shadow-medium: #00000038;
  --colors-shadow-medium-light: #00000030;
  --colors-shadow-dark: #0000003d;
  --colors-shadow-medium-dark: #0000003b;
  --colors-shadow-ultradark: #0000004d;
  --colors-shadow-xdark: #00000040;
  --colors-focus-secondary: #ffffffff;
  --colors-focus-primary: #077197ff;
  --border-radius-md: 0.5rem /* 8px */;
  --border-radius-full: 624.9375rem /* 9999px */;
  --border-radius-sm: 0.25rem /* 4px */;
  --border-radius-lg: 0.75rem /* 12px */;
  --border-radius-xl: 1rem /* 16px */;
  --border-radius-none: 0;
  --border-radius-xxl: 1.25rem /* 20px */;
  --border-radius-3xl: 1.5rem /* 24px */;
  --sizes-icons-md: 1rem /* 16px */;
  --sizes-icons-lg: 1.5rem /* 24px */;
  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-width-lg: 3px;
  --shadow-x-offset-none: 0;
  --shadow-y-offset-xxs: 0.0625rem /* 1px */;
  --shadow-y-offset-xs: 0.1875rem /* 3px */;
  --shadow-y-offset-md: 0.625rem /* 10px */;
  --shadow-y-offset-sm: 0.375rem /* 6px */;
  --shadow-y-offset-xl: 0.9375rem /* 15px */;
  --shadow-y-offset-lg: 0.875rem /* 14px */;
  --shadow-y-offset-xxl: 1.1875rem /* 19px */;
  --shadow-blur-xxs: 0.125rem /* 2px */;
  --shadow-blur-xs: 0.1875rem /* 3px */;
  --shadow-blur-md: 0.625rem /* 10px */;
  --shadow-blur-sm: 0.375rem /* 6px */;
  --shadow-blur-xl: 1.25rem /* 20px */;
  --shadow-blur-lg: 0.75rem /* 12px */;
  --shadow-blur-3xl: 2.375rem /* 38px */;
  --shadow-blur-xxl: 1.75rem /* 28px */;
  --shadow-spread-none: 0;
  --typography-font-size-3xl: 2rem /* 32px */;
  --typography-font-size-4xl: 2.5rem /* 40px */;
  --typography-font-size-xxl: 1.75rem /* 28px */;
  --typography-font-size-xl: 1.5rem /* 24px */;
  --typography-font-size-lg: 1.25rem /* 20px */;
  --typography-font-size-md: 1.125rem /* 18px */;
  --typography-font-size-sm: 1rem /* 16px */;
  --typography-font-size-xs: 0.875rem /* 14px */;
  --typography-font-size-xxs: 0.75rem /* 12px */;
  --typography-line-height-xs: 1rem /* 16px */;
  --typography-line-height-sm: 1.125rem /* 18px */;
  --typography-line-height-md: 1.5rem /* 24px */;
  --typography-line-height-lg: 1.75rem /* 28px */;
  --typography-line-height-xl: 2rem /* 32px */;
  --typography-line-height-xxl: 2.5rem /* 40px */;
  --typography-line-height-3xl: 3rem /* 48px */;
  --typography-font-weight-semibold: 600px;
  --typography-font-weight-regular: 400px;
  --typography-font-weight-bold: 700px;
  --typography-font-weight-light: 300px;
  --typography-font-family: LFT Etica, arial, sans-serif;
  --layout-breakpoint-xs: 0;
  --layout-breakpoint-sm: 576px;
  --layout-breakpoint-md: 768px;
  --layout-breakpoint-lg: 992px;
  --layout-breakpoint-xl: 1200px;
  --layout-breakpoint-xxl: 1440px;
  --layout-container-width-xxl: 108rem /* 1728px */;
  --layout-container-width-xl: 90rem /* 1440px */;
  --layout-container-width-lg: 70.5rem /* 1128px */;
  --layout-container-width-md: 60rem /* 960px */;
  --layout-container-width-sm: 40rem /* 640px */;
  --layout-container-width-xs: 20rem /* 320px */;
  --z-index-dropdown: 1000px;
  --z-index-overlay: 1100px;
  --z-index-modal: 1200px;
  --z-index-popover: 1300px;
  --z-index-toast: 1400px;
  --z-index-tooltip: 1500px;
}
