/* Breakpoints */
/* used in grid */
/* Brand colors */
/* Support colors */
/* Spacing */
/* Form colors */
/* Breakpoints */
/* min size for clickable content */
/* Standard padding left right */
/* Standard page padding-top styling */
/* Standard widths */
/* standard medium container size */
/* Article */
:root {
  --component-input-border-radius: var(--border-radius-md);
  --component-input-border-width: var(--border-width-md);
  --component-input-border-color: var(--colors-borders-quaternary);
  --colors-brand-orange: var(--colors-interaction-tertiary);
  --colors-brand-white: var(--colors-backgrounds-primary);
  --colors-brand-grey-dark: var(--colors-information-neutral-primary);
  --colors-brand-grey-light: var(--colors-backgrounds-secondary);
  --colors-brand-grey-medium: #dadadaff;
  --colors-support-gray-regular-dark: var(--colors-borders-secondary);
  --spacing-xxxxs: 0.06rem;
  --spacing-xxxs: 0.125rem;
  --spacing-3px: 0.1875rem;
  --spacing-5px: 0.313rem;
  --spacing-6px: 0.375rem;
  --spacing-7px: 0.4375rem;
  --spacing-10px: 0.625rem;
  --spacing-11px: 0.688rem;
  --spacing-17px: 1.063rem;
  --spacing-19px: 1.188rem;
  --spacing-20px: 1.125rem;
  --spacing-25px: 1.563rem;
  --spacing-28px: 1.75rem;
  --spacing-29px: 1.183rem;
  --spacing-30px: 1.875rem;
  --spacing-36px: 2.25rem;
  --spacing-38px: 2.375rem;
  --spacing-44px: 2.75rem;
  --spacing-80px: 5rem;
  --spacing-12xl: 9.25rem;
  --min-width-44px: 2.75rem;
  --min-width-134px: 8.375rem;
  --min-width-265px: ;
  --max-width-160px: 10rem;
  --max-width-220px: 13.75rem;
  --max-width-245px: 15.313rem;
  --max-width-280px: 17.5rem;
  --max-width-342px: 21.375rem;
  --max-width-360px: 22.5rem;
  --max-width-416px: 26rem;
  --max-width-456px: 28.5rem;
  --max-width-648px: 40.5rem;
  --max-width-720px: 45rem;
  --min-height-44px: 2.75rem;
  --min-height-80px: 5rem;
  --min-height-94px: 5.875rem;
  --min-height-114px: 7.125rem;
  --min-height-176px: 11rem;
  --min-height-248: 15.5rem;
  --min-height-260px: 16.25rem;
  --min-height-280px: 17.5rem;
  --dimension-width-20px: 1.3rem;
  --dimension-width-22px: 1.375rem;
  --dimension-width-44px: 2.75rem;
  --dimension-width-360px: 22.5rem;
  --dimension-width-400px: 25rem;
  --dimension-height-20px: 1.3rem;
  --dimension-height-22px: 1.375rem;
  --dimension-height-44px: 2.75rem;
  --dimension-height-80px: 5rem;
  --dimension-height-100px: 6.25rem;
  --size-medium-width: 58.5rem;
  --size-max-width: 70.5rem;
  --size-article-body-max-width: 40.5rem;
  --box-shadow-spread-minus: -0.188rem;
  --border-width-xl: 0.313rem;
  --typography-line-height-18: 1.125rem;
  --typography-line-height-18px: 1.125rem;
  --typography-line-height-21px: 1.313rem;
}

/* Standard bottom margin on elements */
/* Standard bottom margin on elements */
/* Bigger bottom margin on elements */
.svv-chip {
  --component-chip-border-radius: var(--border-radius-sm);
  --component-chip-border-width: var(--border-width-sm);
  --component-chip-border-color: var(--colors-borders-quaternary);
  --component-chip-color: var(--colors-text-primary);
  --component-chip-background: var(--colors-backgrounds-primary);
  display: inline-flex;
  align-items: center;
  border-radius: var(--component-chip-border-radius);
  font-family: var(--typography-font-family);
  font-style: normal;
  font-weight: var(--typography-font-weight-semibold);
  background-color: var(--component-chip-background);
  color: var(--component-chip-color);
  gap: var(--spacing-xxs);
  border: var(--component-chip-border-width) solid var(--component-chip-border-color);
  width: fit-content;
  height: fit-content;
  transition: all 0.1s ease-in-out 0s;
}
.svv-chip .svv-chip-close-icon {
  width: calc(var(--sizes-icons-md) * 0.5);
  height: calc(var(--sizes-icons-md) * 0.5);
}
.svv-chip--sm {
  padding: var(--spacing-xxs) var(--spacing-xs);
  font-size: var(--typography-font-size-xxs);
  line-height: var(--typography-line-height-sm);
}
.svv-chip--md {
  padding: var(--spacing-xxs) var(--spacing-xs);
  font-size: var(--typography-font-size-xs);
  line-height: var(--typography-line-height-md);
}
.svv-chip--lg {
  padding: var(--spacing-xs);
  gap: var(--spacing-xs);
  line-height: var(--typography-line-height-lg);
}
.svv-chip--lg .svv-chip-close-icon {
  width: calc(var(--sizes-icons-md) * 0.75);
  height: calc(var(--sizes-icons-md) * 0.75);
}
.svv-chip:hover {
  box-shadow: 0 0 0 var(--border-width-sm) var(--colors-borders-quaternary);
}
.svv-chip:focus {
  outline: var(--border-width-lg) solid var(--colors-focus-primary);
  outline-offset: var(--border-width-md);
}

.svv-chip-close-icon {
  width: 1rem;
  height: 1rem;
}

.svv-chip-group {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}
.svv-chip-group:has(.svv-chip--sm) {
  gap: var(--spacing-xxs);
}
.svv-chip-group:has(.svv-chip--md) {
  gap: var(--spacing-xs);
}
.svv-chip-group:has(.svv-chip--lg) {
  gap: var(--spacing-xs);
}